@model Application.DTOs.UserSide.ContactDto;

<div class="form-header">
    Message Me
</div>


<form id="myForm" action="@Url.Action("Index", "Home")" method="post">
    <div class="input-line">
        <input id="name" type="text" placeholder="Name" class="input-name" asp-for="SenderName">
        <input id="email" type="email" placeholder="Email" class="input-name" asp-for="SenderEmail">
    </div>
    <input type="text" id="subject" placeholder="Subject" class="input-subject" asp-for="Message">
    <textarea id="body" class="input-textarea" placeholder="Message" asp-for="Message"></textarea>
    <button type="submit" id="submit">Submit</button>
    @Html.AntiForgeryToken() <!-- Ensure anti-forgery token is included -->
</form>

@* <form id="myForm" action="#" asp-action="Index" asp-controller="Home" method="post" >
    <div class="input-line">
        <input id="name" type="text" placeholder="Name" class="input-name" asp-for="SenderName">
        <input id="email" type="email" placeholder="Email" class="input-name" asp-for="SenderEmail">
    </div>
    <input type="text" id="subject" placeholder="subject" class="input-subject" asp-for="Message">
    <textarea id="body" class="input-textarea" placeholder="message"></textarea>
    <button type="button" id="submit" value="send">Submit</button>
</form> *@