@model Application.DTOs.ShowAllDto;

@{
    Layout = "_AdminLayout";
}

<div class="content">
    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
            <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>

        <div class="navbar-nav align-items-center ms-auto">

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle me-lg-2" src="/images/UserAvatar/@Model.PicName" alt="" style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">@Model.UserName</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a asp-area="Admin" asp-controller="User" asp-action="Details" class="dropdown-item">My Profile</a>
                    <a asp-area="Admin" asp-controller="Home" asp-action="LogOut" class="dropdown-item">Log Out</a>
                </div>
            </div>
        </div>
    </nav>

    <!--ssss-->

    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div>
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Admin Info</h6>
                    <div class="p-2 mb-2 bg-primary text-white">Is Authenticated : @User.Identity.IsAuthenticated</div>
                    <div class="p-2 mb-2 bg-primary text-white">Your id : @User.Identity.Name</div>
                    <div class="p-2 mb-2 bg-primary text-white">Authentication Type : @User.Identity.AuthenticationType</div>
                    
                 
                </div>


            </div>


        </div>
    </div>

    <!--ssss-->
    <!-- Sales Chart Start -->
    <!-- Sales Chart End -->
    <!-- Recent Sales Start -->
    <!-- Recent Sales End -->
    <!-- Widgets Start -->
    <!-- Widgets End -->

</div>
