@model Application.DTOs.MySkillDto;


<div class="content">

    <!--nav bar-->
    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
            <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>

    </nav>
    <!--nav bar end-->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Floating Label</h6>
                    <form asp-area="Admin" asp-controller="MySkills" asp-action="AddSkill" method="post">
                        
                        <div class="form-floating mb-3">
                            <input class="form-control" id="floatingInput" asp-for="SkillName">
                            <label for="floatingInput">Skill Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="floatingNumber" asp-for="SkillValue">
                            <label for="floatingNumber">Number</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Skill </button>
                        <a class="btn btn-primary" asp-area="Admin" asp-controller="Home" asp-action="Index" role="button">Return</a>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>