@model Application.DTOs.ContactDtos;

<form id="myForm" asp-action="Index" asp-controller="Home" method="post">
    <div class="input-line">
        <input id="name" type="text" placeholder="Name" class="input-name" asp-for="SenderName">
        <input id="email" type="email" placeholder="Email" class="input-name" asp-for="SenderEmail">
    </div>
    <input type="text" id="subject" placeholder="Subject" class="input-subject" asp-for="Subject">
    <textarea id="body" class="input-textarea" placeholder="Message" asp-for="Message"></textarea>
    <button type="submit" id="submit">Submit</button>
    @Html.AntiForgeryToken() <!-- Ensure anti-forgery token is included -->
</form>