@model List<Application.DTOs.MyServiceDto>

<div class="services-content">


    @foreach (var item in Model)
    {
        <div class="service-one service wow">
            <div class="service-img">
                @if (string.IsNullOrEmpty(item.ServicePicture))
                {
                    <img id="preview" src="~/images/coding.png" alt="Image Preview" style="max-width: 100%; max-height: 300px; ">
                }
                else
                {
                    <img id="preview" src="~/images/ServiceImages/@item.ServicePicture" alt="Image Preview" style="max-width: 100%; max-height: 300px; ">
                }
            </div>
            <div class="service-description">
                <h2>@item.ServiceName</h2>
                <p>@item.ServiceDescription</p>
            </div>
        </div>
    }


</div>
