@model List<Application.DTOs.MyServiceDto>

<div class="services-content">


    @foreach (var item in Model)
    {
        <div class="service-one service wow">
            <div class="service-img">
                <img src="images/coding.png" alt="service-one">
            </div>
            <div class="service-description">
                <h2>@item.ServiceName</h2>
                <p>@item.ServiceDescription</p>
            </div>
        </div>
    }


</div>
